<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remediation Control</title>

    <style>
        body {
            margin: 0px;
            padding: 50px;
            font-family: "Open Sans", arial;
            background: #0066C0;
            color: #fff;
            font-weight: 300;
        }

        ul li {
            margin: 10px;
            line-height: 1.2em;
            font-size: 1.5em;
        }
    </style>
</head>

<body>
    <h1>Remediation Control</h1>
    <ul>
        <%  messages.forEach( (message, i) => { %>
        <li><%= message %></li>
        <%  });  %>
    </ul>

    <form action="/scanner" method="get">
        <button type="submit" style="
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 100px;
        height: 28px;
        ">Back</button>
    </form>

    <form action="/logout" method="get">
    <button style="
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;
	height: 28px;
    ">Log out</button>
    </form>
</body>

</html>